<div class="container">
  {{#each artists}}
    <div>
      <img src="{{this.images.1.url}}" alt="album picture" />
      <p>{{this.name}}</p>
      <a href="/albums/{{this.id}}"> <button>View Albums</button></a>
    </div>

  {{/each}}
</div>